In [1]:
import pandas as pd
import numpy as np

In [3]:
title_akas_df = pd.read_csv('title.akas.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')
episode_df = pd.read_csv('title.episode.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')
basics_df = pd.read_csv('title.basics.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')
ratings_df = pd.read_csv('title.ratings.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')
crew_df = pd.read_csv('title.crew.tsv.gz',compression='gzip', header=0, sep='\t', quotechar='"')
principals_df = pd.read_csv('title.principals.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')
name_basic_df = pd.read_csv('name.basics.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')
print("reading done")

/var/folders/mj/mqkdjsmx093601gfdjss778r0000gn/T/ipykernel_25927/3423713104.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  title_akas_df = pd.read_csv('title.akas.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')
/var/folders/mj/mqkdjsmx093601gfdjss778r0000gn/T/ipykernel_25927/3423713104.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics_df = pd.read_csv('title.basics.tsv.gz', compression='gzip', header=0, sep='\t', quotechar='"')

In [4]:
# create DIRECTOR CSV
name_basic_db_df = name_basic_df[~name_basic_df['primaryProfession'].isna()]
director_db_df = name_basic_db_df[name_basic_db_df['primaryProfession'].str.contains('director')]
director_db_df = director_db_df[['nconst', 'primaryName', 'birthYear', 'deathYear']]
director_db_df = director_db_df[~(director_db_df['birthYear'] == '\\N')]
director_db_df['deathYear'] = director_db_df['deathYear'].replace('\\N', np.nan)
director_db_df.to_csv('director.csv', index=False)
director_db_df.head(60)

        nconst            primaryName birthYear deathYear
4    nm0000005         Ingmar Bergman      1918      2007
7    nm0000008          Marlon Brando      1924      2004
9    nm0000010           James Cagney      1899      1986
18   nm0000019       Federico Fellini      1920      1993
23   nm0000024           John Gielgud      1904      2000
31   nm0000032        Charlton Heston      1923      2008
32   nm0000033       Alfred Hitchcock      1899      1980
35   nm0000036          Buster Keaton      1895      1966
39   nm0000040        Stanley Kubrick      1928      1999
40   nm0000041         Akira Kurosawa      1910      1998
55   nm0000056            Paul Newman      1925      2008
58   nm0000059       Laurence Olivier      1907      1989
70   nm0000071          James Stewart      1908      1997
75   nm0000076      François Truffaut      1932      1984
79   nm0000080           Orson Welles      1915      1985
85   nm0000086         Louis de Funès      1914      1983
86   nm0000087         Elena Koreneva      1953       NaN
87   nm0000088        Aleksey Korenev      1927      1995
89   nm0000090    Armin Mueller-Stahl      1930       NaN
90   nm0000091           Gérard Pirès      1942       NaN
94   nm0000095            Woody Allen      1935       NaN
96   nm0000097        Pamela Anderson      1967       NaN
98   nm0000099      Patricia Arquette      1968       NaN
107  nm0000108             Luc Besson      1959       NaN
109  nm0000110        Kenneth Branagh      1960       NaN
110  nm0000111      Matthew Broderick      1962       NaN
113  nm0000114          Steve Buscemi      1957       NaN
115  nm0000116          James Cameron      1954       NaN
122  nm0000123         George Clooney      1961       NaN
126  nm0000127             Wes Craven      1939      2015
127  nm0000128          Russell Crowe      1964       NaN
129  nm0000130       Jamie Lee Curtis      1958       NaN
140  nm0000141         David Duchovny      1960       NaN
141  nm0000142         Clint Eastwood      1930       NaN
145  nm0000146          Ralph Fiennes      1962       NaN
148  nm0000149           Jodie Foster      1962       NaN
153  nm0000154             Mel Gibson      1956       NaN
165  nm0000166             Helen Hunt      1963       NaN
168  nm0000169        Tommy Lee Jones      1946       NaN
170  nm0000171            Ashley Judd      1968       NaN
176  nm0000177            Kevin Kline      1947       NaN
179  nm0000180             David Lean      1908      1991
183  nm0000184           George Lucas      1944       NaN
184  nm0000185         Dolph Lundgren      1957       NaN
185  nm0000186            David Lynch      1946       NaN
198  nm0000199              Al Pacino      1940       NaN
201  nm0000202         Ryan Phillippe      1974       NaN
208  nm0000209            Tim Robbins      1958       NaN
211  nm0000212               Meg Ryan      1961       NaN
215  nm0000216  Arnold Schwarzenegger      1947       NaN
216  nm0000217        Martin Scorsese      1942       NaN
217  nm0000218   Kristin Scott Thomas      1960       NaN
228  nm0000229       Steven Spielberg      1946       NaN
230  nm0000231           Oliver Stone      1946       NaN
239  nm0000240           Skeet Ulrich      1970       NaN
242  nm0000243      Denzel Washington      1954       NaN
246  nm0000247               John Woo      1946       NaN
247  nm0000248     Edward D. Wood Jr.      1924      1978
248  nm0000249            James Woods      1947       NaN
251  nm0000252           Robert Ellis      1892      1974

In [5]:
# create Actor CSV
name_basic_db_df = name_basic_df[~name_basic_df['primaryProfession'].isna()]
actors_db_df = name_basic_db_df[(name_basic_db_df['primaryProfession'].str.contains('actor')) | (name_basic_db_df['primaryProfession'].str.contains('actress'))]
actors_db_df = actors_db_df[~(actors_db_df['birthYear'] == '\\N')]
actors_db_df = actors_db_df[['nconst', 'primaryName', 'birthYear', 'deathYear']]
actors_db_df = actors_db_df[actors_db_df['primaryName'].str.len() < 100]
actors_db_df['deathYear'] = actors_db_df['deathYear'].replace('\\N', np.nan)
actors_db_df.to_csv('actors.csv', index=False)
actors_db_df

             nconst      primaryName birthYear deathYear
0         nm0000001     Fred Astaire      1899      1987
1         nm0000002    Lauren Bacall      1924      2014
2         nm0000003  Brigitte Bardot      1934       NaN
3         nm0000004     John Belushi      1949      1982
4         nm0000005   Ingmar Bergman      1918      2007
...             ...              ...       ...       ...
12597098  nm9992812            Daisy      1994       NaN
12597426  nm9993199    Denis Nurulin      1997       NaN
12597591  nm9993379  Fanny Hozleiter      1988       NaN
12597727  nm9993535    Henry Lawfull      2006       NaN
12597865  nm9993693      Apsara Rani      1996       NaN

[348831 rows x 4 columns]

In [6]:
# create MOVIE CSV
movie_db_df = basics_df[basics_df['titleType'] == 'movie']
movie_db_df = pd.merge(movie_db_df, ratings_df, on='tconst', how='inner')
movie_db_df = movie_db_df.drop_duplicates()
director_df = principals_df[principals_df['category'] == 'director'][['tconst', 'nconst']]
movie_db_df = pd.merge(movie_db_df, director_df, on='tconst', how='inner')
movie_db_df.drop_duplicates(subset ="tconst",keep = 'first', inplace = True)
movie_db_df = movie_db_df.drop_duplicates()
movie_db_df = movie_db_df[~(movie_db_df['genres'] == '\\N')]
movie_db_df = movie_db_df[~(movie_db_df['runtimeMinutes'] == '\\N')]
movie_db_df = movie_db_df[~(movie_db_df['startYear'] == '\\N')]
movie_db_df = movie_db_df[['tconst', 'averageRating', 'numVotes', 'startYear', 'runtimeMinutes', 'primaryTitle', 'nconst']]
movie_db_df = movie_db_df[movie_db_df['primaryTitle'].str.len() < 100]
movie_db_df = movie_db_df[movie_db_df['nconst'].isin(director_db_df['nconst'].unique())]
movie_db_df.to_csv('movie.csv', index=False)
movie_db_df

,tconst,averageRating,numVotes,startYear,runtimeMinutes,primaryTitle,nconst
0,tt0000009,5.3,206,1894,45,Miss Jerry,nm0085156
1,tt0000147,5.3,474,1897,100,The Corbett-Fitzsimmons Fight,nm0714557
3,tt0000574,6.0,831,1906,70,The Story of the Kelly Gang,nm0846879
4,tt0000591,4.4,20,1907,90,The Prodigal Son,nm0141150
8,tt0000679,5.1,68,1908,120,The Fairylogue and Radio-Plays,nm0091767
...,...,...,...,...,...,...,...
304038,tt9913084,6.7,51,2019,75,Diabolik sono io,nm0812850
304042,tt9914254,7.1,8,2019,85,A Cherry Tale,nm1375922
304052,tt9915946,6.8,11,1993,96,Nuestra película,nm0652213
304056,tt9916270,5.8,1422,2020,84,Il talento del calabrone,nm1480867
304057,tt9916362,6.4,5370,2020,92,Coven,nm1893148

In [7]:
# create plays_in_movies CSV
plays_in_movie_db_df = principals_df[principals_df['tconst'].isin(movie_db_df['tconst'].unique())]
plays_in_movie_db_df = plays_in_movie_db_df[plays_in_movie_db_df['category'].isin(['actor','actress'])]
plays_in_movie_db_df = plays_in_movie_db_df[['tconst', 'nconst']]
plays_in_movie_db_df = plays_in_movie_db_df.drop_duplicates()
plays_in_movie_db_df = plays_in_movie_db_df[plays_in_movie_db_df['nconst'].isin(actors_db_df['nconst'].unique())]
plays_in_movie_db_df.to_csv('plays_in_movies.csv', index=False)
plays_in_movie_db_df

             tconst     nconst
24        tt0000009  nm0063086
25        tt0000009  nm0183823
26        tt0000009  nm1309758
1043      tt0000574  nm0846887
1044      tt0000574  nm0846894
...             ...        ...
56577991  tt9916270  nm3080119
56577992  tt9916270  nm2063290
56578176  tt9916362  nm3766704
56578177  tt9916362  nm0107165
56578178  tt9916362  nm0266723

[410103 rows x 2 columns]

In [9]:
# create genre_movies CSV
movie_list_db_df = basics_df[basics_df['titleType'] == 'movie']
movie_genre_db_df = movie_list_db_df.join(movie_list_db_df['genres'].str.split(',', expand=True).rename(columns={0:'Genre1', 1:'Genre2', 2:'Genre3'}))
movie_genre_db_df = movie_genre_db_df[['tconst', 'Genre1', 'Genre2', 'Genre3']]
movie_genre_db_df = movie_genre_db_df[~(movie_genre_db_df['Genre1'] == '\\N')]
pd.melt(movie_genre_db_df, id_vars='tconst', value_vars=['Genre1','Genre2','Genre3'], value_name='Genre')
movie_genre_db_df = movie_genre_db_df.melt('tconst', value_name='Genre').drop(columns='variable')
movie_genre_db_df = movie_genre_db_df[~movie_genre_db_df['Genre'].isna()]
movie_genre_db_df = movie_genre_db_df[movie_genre_db_df['tconst'].isin(movie_db_df['tconst'].unique())]
movie_genre_db_df.to_csv('genre_movies.csv', index=False)
movie_genre_db_df

            tconst        Genre
0        tt0000009      Romance
1        tt0000147  Documentary
2        tt0000574       Action
3        tt0000591        Drama
7        tt0000679    Adventure
...            ...          ...
1725927  tt9891874     Thriller
1726077  tt9898858        Crime
1726105  tt9900060        Crime
1726124  tt9900782        Crime
1726224  tt9907782      Mystery

[244263 rows x 2 columns]